
* {
box-sizing: border-box;
}

/*-------Base Styles-----*/

body {
    font-family: 'Merriweather', serif;
}
.wrapper {
    margin: 0 auto;
}
.header {
    margin-top: -22px;
    background: #152d54;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 98%;
    margin: 0 auto;
}

.banner {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.banner p {
    font-size: .95em;
    margin-bottom: 20px;
}

.line1 {
    border-top: 5px solid #000;
    margin-bottom: -3px;
}

/*---------Form Styles---------*/

form {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
 }

fieldset {
  margin-top: 30px;
  border: none;
}

.contact-info {
    border-bottom: 2px solid #000;
}
legend {
    font-weight: bold;
     margin-bottom: 10px;
}

label[for="name"],
label[for="email"],
label[for="address"],
label[for="tel"],
label[for="city"],
label[for="state"],
label[for="zip"] {
    display: block;
    margin-bottom: 5px;
}

input[placeholder] {
    text-align: right;
    font-style: italic;
    font-size: .85em;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  height: auto;
  margin: 0 auto;
  outline: 0;
  padding: 15px;
  width: 95%;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="number"] {
    width: 50%;
}

input[type="radio"],
input[type="checkbox"] {
    margin-bottom: 15px;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid #152d54;
    border-radius: 2%;
}

input:hover,
select:hover,
textarea:hover {
    border:2px solid #152d54;
    transition-duration: .5s;
}
textarea {
    height: 75px;
    margin-top: 10px;
}

button[type="submit"] {
    background: #152d54;
    color: white;
    font-size: 1.25em;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background: silver;
    color: black;
    transition: .5s;
}

.copyright {
    text-align: center;
    font-size: .75em;
    font-style: italic;
}


span {
    display: inline-block;
    margin-bottom: 10px;
}
/*-------Dry Styles--------*/

label[for="name"],
label[for="email"],
label[for="address"],
label[for="tel"],
label[for="city"],
label[for="state"],
label[for="zip"],
label[for="html"],
label[for="css"],
label[for="javascript"],
label[for="format-1"],
label[for="format-2"],
label[for="other-topics"],
input[type="radio"],
input[type="checkbox"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
span,
p,
.banner p
.copyright {
    color: #8a97a0;
   }
label[for="name"],
label[for="email"],
label[for="address"],
label[for="tel"],
label[for="city"],
label[for="state"],
label[for="zip"] {
    display: block;
}

label[for="name"],
label[for="email"],
label[for="address"],
label[for="tel"],
label[for="city"],
label[for="state"],
label[for="zip"],
label[for="html"],
label[for="css"],
label[for="javascript"],
label[for="format-1"],
label[for="format-2"],
label[for="other-topics"] {
    font-size: .85em;
    font-weight: bold;
}

label[for="html"],
label[for="css"],
label[for="javascript"],
label[for="format-1"],
label[for="format-2"] {
    margin-left: 10px;
}



/*-------Media Queries----------*/

@media(min-width: 768px) {
    .container {
        max-width: 65%;
    }

    .wrapper {
        max-width: 1290px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"] {
        width: 65%;
    }

    select {
        width: 65%;
    }

        input[type="number"] {
              width: 30%;
}

label[for="name"],
label[for="email"],
label[for="address"],
label[for="tel"],
label[for="city"],
label[for="state"],
label[for="zip"] {
    display: inline-block;
    width: 110px;

}

}